* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Common styles */
section {
  padding: 100px 150px;
}

.des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.site-logo {
  color: #e55473;
}
.site-logo span {
  color: #ffffff;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.section-des {
  text-align: center;
  width: 50%;
  margin: 20px auto 50px;
}

.btn,
.btn-sec {
  border-radius: 8px;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.btn {
  background: #e55473;
  border: 0;
  color: #ffffff;
}

.btn-sec {
  color: #e55473;
  border: 1px solid #e55473;
  background: #ffffff;
}

/* banner styles start */
.banner-section {
  padding: 100px 150px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-content {
  padding-right: 40px;
}
.banner-content .heading {
  color: #272727;
  font-size: 75px;
  font-weight: 800;
  line-height: 1;
}
.banner-content .des {
  margin: 30px 0;
}
.banner-pic {
  width: 380px;
  height: auto;
  display: block;
}
/* banner styles end */

/* feature styles start */
.feature-item-section {
  display: flex;
  justify-content: space-between;
}

.feature-item .feature-item-img-section {
  padding: 0px 45px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  align-items: flex-end;
}

.feature-item .feature-item-img {
  max-width: 250px;
  height: auto;
  display: block;
}

.feature-item-title {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-feature {
  margin: 50px 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 70px 90px;
}

.icon-feature .feature-item {
  text-align: center;
}

.icon-feature .des {
  font-weight: bold;
  color: rgba(39, 39, 39, 0.8);
  margin-top: 20px;
}

/* feature styles end */

/* showcase-item styles start */
.showcase-item-section {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.showcase-item-section .showcase-item-img {
  max-width: 90%;
  height: auto;
}

.showcase-item .showcase-item-title {
  color: #272727;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
}
.showcase-item .showcase-item-pice {
  color: #303030;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.showcase-section .btn-sec {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* showcase-item styles end */

/* announcement styles start */
.announcement {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: rgba(229, 84, 115, 0.05);
  padding: 40px 200px;
}

.announcement .announcement-contect {
  width: 550px;
}

.announcement .announcement-contect .accent-title {
  color: #e55473;
}

.announcement .des {
  margin: 20px 0;
  line-height: 2;
}

.announcement .accouncment-img {
  display: block;
  width: 250px;
}
/* announcement styles end */

/* show-item styles start */
.show-item-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.show-item-section .show-single-item-img {
  max-width: 100%;
}
/* show-item styles end */

/* subscribe style start */
.subscribe-section .main-div {
  background: url("../img/Rectangle\ 9.png") no-repeat center;
  background-size: contain;
  text-align: center;
  padding: 75px;
}
.subscribe-section input[type="text"] {
  width: 50%;
  padding: 16px;
  border-radius: 8px;
  margin-right: 5px;
  outline: none;
  border: 0;
}
/* subscribe style end */

/* footer styles start */
footer {
  padding: 50px 0;
  text-align: center;
  background: #111010;
}

footer .des {
  color: rgba(255, 255, 255, 0.9);
  margin: 30px auto;
  width: 40%;
  font-weight: 400;
}

footer .footer-text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* footer styles end */
