* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Common styles */
section {
  padding: 100px 150px;
}

.des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.section-des {
  text-align: center;
  width: 50%;
  margin: 20px auto 50px;
}

.btn {
  border-radius: 8px;
  background: #e55473;
  outline: none;
  border: 0;
  display: inline-block;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/* banner styles start */
.banner-section {
  padding: 100px 150px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-content {
  padding-right: 40px;
}
.banner-content .heading {
  color: #272727;
  font-size: 75px;
  font-weight: 800;
  line-height: 1;
}
.banner-content .des {
  margin: 30px 0;
}
.banner-pic {
  width: 380px;
  height: auto;
  display: block;
}
/* banner styles stop */

/* feature styles start */
.feature-item-section {
  display: flex;
  justify-content: space-between;
}

.feature-item .feature-item-img-section {
  padding: 0px 45px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  align-items: flex-end;
}

.feature-item .feature-item-img {
  max-width: 250px;
  height: auto;
  display: block;
}

.feature-item-title {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-feature {
  margin: 50px 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 70px 90px;
}

.icon-feature .feature-item {
  text-align: center;
}

.icon-feature .des {
  font-weight: bold;
  color: rgba(39, 39, 39, 0.8);
  margin-top: 20px;
}

/* feature styles stop */
